name: OWASP Dependency-Check (fast)

on:
  workflow_dispatch:

jobs:
  odc-fast-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Download Dependency-Check
        run: |
          DC_VERSION=10.0.3
          wget https://github.com/jeremylong/DependencyCheck/releases/download/v${DC_VERSION}/dependency-check-${DC_VERSION}-release.zip
          unzip dependency-check-${DC_VERSION}-release.zip -d $HOME/dependency-check
          mkdir -p $HOME/dependency-check/data
          mkdir -p reports

      - name: Run Dependency-Check (fast mode)
        run: |
          $HOME/dependency-check/bin/dependency-check.sh \
            --project "FastScan" \
            --scan . \
            --format "HTML,JSON" \
            --out ./reports \
            --disableAssembly \
            --noupdate

      - name: Debug check report files
        run: |
          echo "Listing reports directory:"
          ls -R reports || echo "No reports folder found"
          echo "Listing dependency-check dir:"
          ls -R $DC_DIR || echo "No dependency-check folder found"

      - name: Upload ODC Reports
        uses: actions/upload-artifact@v4
        with:
          name: ODC-Reports
          path: reports/
